In [93]:
import pandas as pd
import numpy as np

In [94]:
# lets explore movies.csv
m_cols = ['movie_id','movie title','release date','video release date','IMDb URL'
          ,'unknown','Action','Adventure','Animation','Childrens','Comedy',
          'Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi',
        'Thriller','War','Western']
data= pd.read_csv('C:/Users/rants/ml-100k/u.item',delimiter='|',names=m_cols,encoding='latin-1')
data.shape

(1682, 24)

In [95]:
#explore users
u_cols = ['user_id','age','gender','occupation','zip_code']
data_u = pd.read_csv('C:/Users/rants/ml-100k/u.user',delimiter='|',names=u_cols,encoding='latin-1')
data_u.shape

(943, 5)

In [96]:
#explore ratings
r_cols = ['user_id','movie_id','rating','timestamp']
data_r = pd.read_csv('C:/Users/rants/ml-100k/u1.base',delimiter='\t',names=r_cols,encoding='latin-1')
data_r.shape

(80000, 4)

## Q2 - Section A

In [97]:
#merging two dataframes movies and ratings
movie_data_ratings_data=data.merge(data_r,on = 'movie_id',how = 'inner')
avg_movie_rating = movie_data_ratings_data.groupby(['movie_id', 'movie title'])['rating'].mean().sort_values(ascending=False).reset_index()
# Q2 - section A
best_rated_movies = avg_movie_rating.head(3)
best_rated_movies

   movie_id                                 movie title  rating
0      1500                   Santa with Muscles (1996)     5.0
1      1201  Marlene Dietrich: Shadow and Light (1996)      5.0
2      1293                             Star Kid (1997)     5.0

## Q2 - section B

In [98]:
#calculate most rated movie
most_rated_movies = movie_data_ratings_data.groupby(['movie_id', 'movie title']).size().sort_values(ascending=False).reset_index()
most_rated_movies.columns = ['movie_id','movie title', '# of ratings']
most_rated_movies.head(3)

   movie_id                movie title  # of ratings
0        50           Star Wars (1977)           484
1       181  Return of the Jedi (1983)           422
2       258             Contact (1997)           402

## Q2 - section C

In [99]:
# calculate % rating above 4
above_4_ratings_per_item = movie_data_ratings_data.loc[movie_data_ratings_data['rating'] > 4].groupby('movie_id').size().sort_values(ascending=False).reset_index()
above_4_ratings_per_item.columns=['movie_id','# of ratings > 4']
percentage_of_rating_greater_than_4 = pd.merge(most_rated_movies, above_4_ratings_per_item, on='movie_id')
percentage_of_rating_greater_than_4['%'] = percentage_of_rating_greater_than_4['# of ratings > 4'] / percentage_of_rating_greater_than_4['# of ratings']
result_c = percentage_of_rating_greater_than_4[['movie_id', 'movie title','%']].sort_values('%', ascending=False)
result_c.head(3)

      movie_id                                        movie title    %
1114      1599                      Someone Else's America (1995)  1.0
1113      1500                          Santa with Muscles (1996)  1.0
1112      1653  Entertaining Angels: The Dorothy Day Story (1996)  1.0

## Q2 - section D

In [100]:
normalizeDF = most_rated_movies.merge(avg_movie_rating,on = 'movie_id',how = 'right')
max_amount_of_ratings = most_rated_movies['# of ratings'][0]
min_amount_of_ratings = most_rated_movies['# of ratings'][len(most_rated_movies)-1]
normalizeDF['normalize amount of ratings'] = (most_rated_movies['# of ratings']-min_amount_of_ratings)/(max_amount_of_ratings-min_amount_of_ratings)
normalizeDF['new metric'] = normalizeDF['normalize amount of ratings'] * normalizeDF['rating']
normalizeDF2 = normalizeDF[['movie_id','movie title_x', 'new metric']]
normalizeDF2.columns = ['movie_id','movie title','new metric']
result_D = normalizeDF2.sort_values('new metric', ascending=False)
result_D.head(3)

   movie_id                movie title  new metric
0        50           Star Wars (1977)    4.359504
1       181  Return of the Jedi (1983)    3.496870
3       100               Fargo (1996)    3.351741

## Q2 - section E

In [101]:
merged_data=movie_data_ratings_data.merge(data_u,on = 'user_id',how = 'inner')
merged_data
female_data = merged_data.loc[merged_data['gender'] == 'F']
male_data = merged_data.loc[merged_data['gender'] == 'M']

### section A

#### female

In [102]:
avg_movie_rating_for_female = female_data.groupby(['movie_id', 'movie title'])['rating'].mean().sort_values(ascending=False).reset_index()
avg_movie_rating_for_female.columns = ['movie_id','movie title', 'rating for female']
avg_movie_rating_for_female.head(3)

   movie_id                            movie title  rating for female
0      1472  Visitors, The (Visiteurs, Les) (1993)                5.0
1      1594                         Everest (1998)                5.0
2      1599          Someone Else's America (1995)                5.0

#### male

In [103]:
avg_movie_rating_for_male = male_data.groupby(['movie_id', 'movie title'])['rating'].mean().sort_values(ascending=False).reset_index()
avg_movie_rating_for_male.columns = ['movie_id','movie title', 'rating for male']
avg_movie_rating_for_male.head(3)

   movie_id                     movie title  rating for male
0      1293                 Star Kid (1997)              5.0
1      1656              Little City (1998)              5.0
2      1122  They Made Me a Criminal (1939)              5.0

### section B

#### female

In [104]:
most_rated_movies_female = female_data.groupby(['movie_id', 'movie title']).size().sort_values(ascending=False).reset_index()
most_rated_movies_female.columns = ['movie_id','movie title', '# of ratings for female']
most_rated_movies_female.head(3)

   movie_id                  movie title  # of ratings for female
0       286  English Patient, The (1996)                      125
1        50             Star Wars (1977)                      125
2       288                Scream (1996)                      118

#### male

In [105]:
most_rated_movies_male = male_data.groupby(['movie_id', 'movie title']).size().sort_values(ascending=False).reset_index()
most_rated_movies_male.columns = ['movie_id','movie title', '# of ratings for male']
most_rated_movies_male.head(3)

   movie_id                movie title  # of ratings for male
0        50           Star Wars (1977)                    359
1       181  Return of the Jedi (1983)                    318
2       100               Fargo (1996)                    300

### section C

#### female

In [106]:
above_4_ratings_per_item_female = female_data.loc[female_data['rating'] > 4].groupby('movie_id').size().sort_values(ascending=False).reset_index()
above_4_ratings_per_item_female.columns=['movie_id','# of ratings > 4']
percentage_of_rating_greater_than_4_female = pd.merge(most_rated_movies_female, above_4_ratings_per_item_female, on='movie_id')
percentage_of_rating_greater_than_4_female['%'] = percentage_of_rating_greater_than_4_female['# of ratings > 4'] / percentage_of_rating_greater_than_4_female['# of ratings for female']
result_c_female = percentage_of_rating_greater_than_4_female.sort_values('%', ascending=False)
result_c_female.head(3)

,movie_id,movie title,# of ratings for female,# of ratings > 4,%
851,1189,Prefontaine (1997),1,1,1.0
845,1218,Friday (1995),1,1,1.0
838,74,Faster Pussycat! Kill! Kill! (1965),1,1,1.0

#### male

In [107]:
above_4_ratings_per_item_male = male_data.loc[male_data['rating'] > 4].groupby('movie_id').size().sort_values(ascending=False).reset_index()
above_4_ratings_per_item_male.columns=['movie_id','# of ratings > 4']
percentage_of_rating_greater_than_4_male = pd.merge(most_rated_movies_male, above_4_ratings_per_item_male, on='movie_id')
percentage_of_rating_greater_than_4_male['%'] = percentage_of_rating_greater_than_4_male['# of ratings > 4'] / percentage_of_rating_greater_than_4_male['# of ratings for male']
result_c_male = percentage_of_rating_greater_than_4_male.sort_values('%', ascending=False)
result_c_male.head(3)

,movie_id,movie title,# of ratings for male,# of ratings > 4,%
983,1500,Santa with Muscles (1996),1,1,1.0
977,1144,"Quiet Room, The (1996)",1,1,1.0
944,1293,Star Kid (1997),3,3,1.0

## section D

### female

In [108]:
normalizeDF_female = most_rated_movies_female.merge(avg_movie_rating,on = 'movie_id',how = 'right')
max_amount_of_ratings = most_rated_movies_female['# of ratings for female'][0]
min_amount_of_ratings = most_rated_movies_female['# of ratings for female'][len(most_rated_movies_female)-1]
normalizeDF_female['normalize amount of ratings'] = (most_rated_movies_female['# of ratings for female']-min_amount_of_ratings)/(max_amount_of_ratings-min_amount_of_ratings)
normalizeDF_female['new metric'] = normalizeDF_female['normalize amount of ratings'] * normalizeDF_female['rating']
normalizeDF2_female = normalizeDF_female[['movie_id','movie title_x', 'new metric']]
normalizeDF2_female.columns = ['movie_id','movie title','new metric']
result_D_female = normalizeDF2_female.sort_values('new metric', ascending=False)
result_D_female.head(3)

   movie_id                  movie title  new metric
1        50             Star Wars (1977)    4.359504
0       286  English Patient, The (1996)    3.641753
4       258               Contact (1997)    3.453378

### male

In [109]:
normalizeDF_male = most_rated_movies_male.merge(avg_movie_rating,on = 'movie_id',how = 'right')
max_amount_of_ratings = most_rated_movies_male['# of ratings for male'][0]
min_amount_of_ratings = most_rated_movies_male['# of ratings for male'][len(most_rated_movies_male)-1]
normalizeDF_male['normalize amount of ratings'] = (most_rated_movies_male['# of ratings for male']-min_amount_of_ratings)/(max_amount_of_ratings-min_amount_of_ratings)
normalizeDF_male['new metric'] = normalizeDF_male['normalize amount of ratings'] * normalizeDF_male['rating']
normalizeDF2_male = normalizeDF_male[['movie_id','movie title_x', 'new metric']]
normalizeDF2_male.columns = ['movie_id','movie title','new metric']
result_D_male = normalizeDF2_male.sort_values('new metric', ascending=False)
result_D_male.head(3)

   movie_id                movie title  new metric
0        50           Star Wars (1977)    4.359504
1       181  Return of the Jedi (1983)    3.552391
2       100               Fargo (1996)    3.431702

### abs difference

In [110]:
merged_data_by_gender=avg_movie_rating_for_male.merge(avg_movie_rating_for_female,on = ['movie_id','movie title'],how = 'inner')
merged_data_by_gender['abs difference'] = abs(merged_data_by_gender['rating for male'] - merged_data_by_gender['rating for female'])
merged_data_by_gender.sort_values(by='abs difference', ascending=False).head(3)

,movie_id,movie title,rating for male,rating for female,abs difference
1,1175,Hugo Pool (1997),5.000000,1.0,4.000000
7,851,Two or Three Things I Know About Her (1966),4.666667,1.0,3.666667
15,1429,Sliding Doors (1998),4.500000,1.0,3.500000

### male minus female

In [111]:
merged_data_by_gender_no_abs = avg_movie_rating_for_male.merge(avg_movie_rating_for_female,on = ['movie_id','movie title'],how = 'inner')
merged_data_by_gender_no_abs['difference'] = merged_data_by_gender['rating for male'] - merged_data_by_gender['rating for female']
merged_data_by_gender_no_abs.sort_values(by='difference', ascending=False).head(3)

,movie_id,movie title,rating for male,rating for female,difference
1,1175,Hugo Pool (1997),5.000000,1.0,4.000000
7,851,Two or Three Things I Know About Her (1966),4.666667,1.0,3.666667
15,1429,Sliding Doors (1998),4.500000,1.0,3.500000

### female minus male

In [112]:
merged_data_by_gender_no_abs2 = avg_movie_rating_for_male.merge(avg_movie_rating_for_female,on = ['movie_id','movie title'],how = 'inner')
merged_data_by_gender_no_abs2['difference'] = merged_data_by_gender['rating for female'] - merged_data_by_gender['rating for male']
merged_data_by_gender_no_abs2.sort_values(by='difference', ascending=False).head(3)

,movie_id,movie title,rating for male,rating for female,difference
1399,1026,"Lay of the Land, The (1997)",1.0,4.0,3.0
1394,1662,Rough Magic (1995),1.0,4.0,3.0
1328,838,In the Line of Duty 2 (1987),2.0,5.0,3.0

# Q3

## section A

In [113]:
import numpy
def Prediction_by_total_avg(movie_id):
    all_rating = avg_movie_rating['rating']
    return(numpy.mean(all_rating))

In [114]:
def Prediction_by_movie_avg(movie_id):
    row = avg_movie_rating[avg_movie_rating['movie_id']==movie_id]
    if row.empty:
        return Prediction_by_total_avg(movie_id)
    else:
        return row.iloc[0]['rating']

In [115]:
print (Prediction_by_movie_avg(1))

3.8929503916449084

In [116]:
#explore ratings
test_cols = ['user_id','movie_id','rating','timestamp']
data_test = pd.read_csv('C:/Users/rants/ml-100k/u1.test',delimiter='\t',names=test_cols,encoding='latin-1')
data_test.shape
#merging two dataframes movies and ratings
test_set=data.merge(data_test,on = 'movie_id',how = 'inner')
for index, row in test_set.iterrows():  
    test_set.set_value(index,'pridected_rating_by_movie_avg',Prediction_by_movie_avg(row['movie_id']))
    test_set.set_value(index,'pridected_rating_by_total_avg',Prediction_by_total_avg(row['movie_id']))

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

In [117]:
test_set['dif_movie_avg_pridct_with_actual']=(test_set['rating']-test_set['pridected_rating_by_movie_avg']).abs()
mae_pridct_by_movie_avg=numpy.mean(test_set['dif_movie_avg_pridct_with_actual'])
print("MAE mthod 1: predicted by movie averge:",mae_pridct_by_movie_avg)

MAE mthod 1: predicted by movie averge: 0.8272262612291202

In [118]:
test_set['dif_total_avg_pridct_with_actual']=(test_set['rating']-test_set['pridected_rating_by_total_avg']).abs()
mae_pridct_by_total_avg=numpy.mean(test_set['dif_total_avg_pridct_with_actual'])
print("MAE mthod 1: predicted by all movies averge:",mae_pridct_by_total_avg)

MAE mthod 1: predicted by all movies averge: 1.0208669554938976

it's easy to see that the second method have a larger MAE so we prefer the first method that predict by the avarge rating of a movie. it's make sence that the first method will be better than the second one, beacuase the second one is more general.

## section B

In [119]:
def user_rated_movie(user_id,movie_id):
    rows=data_r[data_r['movie_id']==movie_id]
    row=rows[rows['user_id']==user_id]
    return not row.empty

In [120]:
def get_movies_user_saw(user_id):
    return data_test[data_test["user_id"]==user_id]

In [121]:
def get_top_20_movies_metric_1(user_id,df):
    results=pd.DataFrame(columns=['movie_id','movie title'])
    i=0
    for index, row in df.iterrows():  
        if not user_rated_movie(user_id,row['movie_id']):
            results.set_value(i,'movie_id',row['movie_id'])
            results.set_value(i,'movie title',row['movie title'])
            if (i==19):
                    return results
            i=i+1

    return results.head(20)

In [122]:
def calc_recall_and_precision(df):
    users_from_test_set=data_test.user_id.unique()
    results=pd.DataFrame(users_from_test_set,columns=['user_id'])
    for index, row in results.iterrows():  
        top20_for_user= get_top_20_movies_metric_1(row['user_id'],df)
        movies_user_actual_saw=get_movies_user_saw(row['user_id'])
        intersection = pd.merge(top20_for_user, movies_user_actual_saw, how='inner', on=['movie_id'])
        recall=len(intersection.index)/len(movies_user_actual_saw.index)
        results.set_value(index,'recall',recall)
        precision=len(intersection.index)/20;
        results.set_value(index,'precision',precision)
    return results

### metric a-

In [123]:
res_a = calc_recall_and_precision(avg_movie_rating)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [124]:
mean_recall=numpy.mean(res_a['recall'])
print("The mean recall of the first metric is:", mean_recall)
mean_precision=numpy.mean(res_a['precision'])
print("The mean precision of the first metric is:", mean_precision)

The mean recall of the first metric is: 0.022308444169231088
The mean precision of the first metric is: 0.04575163398692821

### metric b-

In [125]:
res_b = calc_recall_and_precision(most_rated_movies)

mean_recall=numpy.mean(res_b['recall'])
print("The mean recall of the second metric is:", mean_recall)
mean_precision=numpy.mean(res_b['precision'])
print("The mean precision of the second metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the second metric is: 0.14819695922756848
The mean precision of the second metric is: 0.2540305010893243

### metric c-

In [126]:
res_c = calc_recall_and_precision(result_c)

mean_recall=numpy.mean(res_c['recall'])
print("The mean recall of the third metric is:", mean_recall)
mean_precision=numpy.mean(res_c['precision'])
print("The mean precision of the third metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the third metric is: 0.01402816691066605
The mean precision of the third metric is: 0.035620915032679765

### metric d-

In [127]:
res_d = calc_recall_and_precision(result_D)

mean_recall=numpy.mean(res_d['recall'])
print("The mean recall of the fourth metric is:", mean_recall)
mean_precision=numpy.mean(res_d['precision'])
print("The mean precision of the fourth metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the fourth metric is: 0.1478102399224077
The mean precision of the fourth metric is: 0.25620915032679703

### metric e - random

In [128]:
temp_df = movie_data_ratings_data.groupby(['movie_id', 'movie title']).size().sort_values(ascending=False).reset_index()
random_df = temp_df.sample(frac=1)
res_e = calc_recall_and_precision(random_df)

mean_recall=numpy.mean(res_e['recall'])
print("The mean recall of the third metric is:", mean_recall)
mean_precision=numpy.mean(res_e['precision'])
print("The mean precision of the third metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the third metric is: 0.011914994398928134
The mean precision of the third metric is: 0.026252723311546853

#### Metric B and metric D gives us the best results (both have almost the same recall and precision).
#### Metric C gives us the worst results - recall and precisione are the lowest.

## section C

### metric A

### female

In [129]:
res_a_female = calc_recall_and_precision(avg_movie_rating_for_female)
mean_recall=numpy.mean(res_a_female['recall'])
print("The mean recall of the first metric is:", mean_recall)
mean_precision=numpy.mean(res_a_female['precision'])
print("The mean precision of the first metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the first metric is: 0.006801318441206493
The mean precision of the first metric is: 0.018845315904139424

### male

In [130]:
res_a_male = calc_recall_and_precision(avg_movie_rating_for_male)
mean_recall=numpy.mean(res_a_male['recall'])
print("The mean recall of the first metric is:", mean_recall)
mean_precision=numpy.mean(res_a_male['precision'])
print("The mean precision of the first metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the first metric is: 0.002185861588241889
The mean precision of the first metric is: 0.005555555555555555

### metric B

### female

In [131]:
res_b_female = calc_recall_and_precision(most_rated_movies_female)
mean_recall=numpy.mean(res_a_female['recall'])
print("The mean recall of the second metric is:", mean_recall)
mean_precision=numpy.mean(res_b_female['precision'])
print("The mean precision of the second metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the second metric is: 0.006801318441206493
The mean precision of the second metric is: 0.2409586056644877

### male

In [132]:
res_b_male = calc_recall_and_precision(most_rated_movies_male)
mean_recall=numpy.mean(res_a_male['recall'])
print("The mean recall of the second metric is:", mean_recall)
mean_precision=numpy.mean(res_b_male['precision'])
print("The mean precision of the second metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the second metric is: 0.002185861588241889
The mean precision of the second metric is: 0.2582788671023961

### metric C

### female

In [133]:
res_c_female = calc_recall_and_precision(result_c_female)
mean_recall=numpy.mean(res_c_female['recall'])
print("The mean recall of the third metric is:", mean_recall)
mean_precision=numpy.mean(res_c_female['precision'])
print("The mean precision of the third metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the third metric is: 0.00799897271729921
The mean precision of the third metric is: 0.019498910675381252

### male

In [134]:
res_c_male = calc_recall_and_precision(result_c_male)
mean_recall=numpy.mean(res_c_male['recall'])
print("The mean recall of the third metric is:", mean_recall)
mean_precision=numpy.mean(res_c_male['precision'])
print("The mean precision of the third metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the third metric is: 0.0010343549245799867
The mean precision of the third metric is: 0.0018518518518518517

### metric D

### female

In [135]:
res_d_female = calc_recall_and_precision(result_D_female)
mean_recall=numpy.mean(res_d_female['recall'])
print("The mean recall of the forth metric is:", mean_recall)
mean_precision=numpy.mean(res_d_female['precision'])
print("The mean precision of the forth metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the forth metric is: 0.1493812740881478
The mean precision of the forth metric is: 0.24705882352941141

### male

In [136]:
res_d_male = calc_recall_and_precision(result_D_male)
mean_recall=numpy.mean(res_d_male['recall'])
print("The mean recall of the forth metric is:", mean_recall)
mean_precision=numpy.mean(res_d_male['precision'])
print("The mean precision of the forth metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the forth metric is: 0.14824684613975628
The mean precision of the forth metric is: 0.2606753812636163

### metric E - random

### female

In [137]:
random_df_female = female_data.sample(frac=1)
res_e_female = calc_recall_and_precision(random_df_female)

mean_recall=numpy.mean(res_e_female['recall'])
print("The mean recall of the fifth metric is:", mean_recall)
mean_precision=numpy.mean(res_e_female['precision'])
print("The mean precision of the fifth metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the fifth metric is: 0.04304687699454831
The mean precision of the fifth metric is: 0.07930283224400873

### male

In [138]:
random_df_male = male_data.sample(frac=1)
res_e_male = calc_recall_and_precision(random_df_male)

mean_recall=numpy.mean(res_e_male['recall'])
print("The mean recall of the fifth metric is:", mean_recall)
mean_precision=numpy.mean(res_e_male['precision'])
print("The mean precision of the fifth metric is:", mean_precision)

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\rants\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

The mean recall of the fifth metric is: 0.03872994935333998
The mean precision of the fifth metric is: 0.09379084967320259

#### Metric D gives us the best results 
#### Metric E gives us the second best results, better than metric A,B,C